/.idea
*.zip
/error/*
/error
error/
/stats/*
/stats
stats/
/__MACOSX/*
/tmp/*
/tmp
tmp/
/blogs/
/blogs/*
blogs/
.rapid-scan-db
.tmp
.DS_Store
Thumbs.db

### WordPress template
*.log
.htaccess
.htpasswd
.htpasswd1
/license.txt
/readme.html
/robots.txt
sitemap.xml
cache/
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/tmp/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/wordfence/tmp/
wp-content/wflogs/
wp-content/wfcache/
/wp-content/managewp/
wp-content/ai1wm-backups/
/stats/
/error/

### IDE
/.idea/
/nbproject/

# don't commit database dumpfiles
*.sql
*.sql.gz
*.sql.tgz
*.sql.zip
*.csv
*.zip

